.flex_container {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  height: 100px;
  width: 175px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
#interest-container {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}.desc_textarea {
  display: inline;
}
body {
  width: 600px;
}
.interest__save {
  background-color: aquamarine;
  border:  1px solid black;
  margin: 5px;
}